:root {
    --accent-color1: rgb(253, 255, 107);
    --accent-color2: rgb(114, 60, 231);
}

* {
    box-sizing: border-box;
    
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    /* color:white;  */
}



.content {
    height: 100vh;
    overflow: scroll;
    /* Note: scroll-snap is generally a good idea but makes the page kind of laggy. WHY!?! 
    Better would be to have the screen get "stuck" for a second when you scroll.*/
    /* scroll-snap-type: y mandatory; */
}


#topScreen {
    height: 100vh;
    overflow: hidden;
    background-color: black;
    color: white;
    /* scroll-snap-align: start; */
    position: relative;
}

#bioScreen {
    height: 100vh;
    overflow: hidden;
    background-color: var(--accent-color1);
    color: black;
    /* scroll-snap-align: start; */
    position: relative;

   
}


#projectsScreen {
    height: 100vh;
    overflow: hidden;
    background-color: var(--accent-color2);
    color: white;
    /* scroll-snap-align: start; */
    position: relative;


   
}

.helloBox {
    border: 1px solid white;
    margin: 15vh 0 0;

}

.hello {
    /* margin: 2vh 0 2vh 10vw; */
    /* width: 40vw; */
    height: 60vh;
    /* border: 1px solid white; */
    display: inline-block;
    position: absolute;
    top: 15vh;
    left: 8vw;
}

h1 {
    font-size: 20vh;
}

.me {
    max-height: 60vh;
    /* border-radius: 2%; */
    display: inline-block;
    /* margin-left: 5vw; */
    padding: 8vh;
    /* border: 1px solid white; */
    position: absolute;
    top: 15vh;
    right: 8vw;
}

#bio {
    width: 40vw;
    font-size: 3vh;
    margin-left: 3vw;
    margin-top: 3vh;
}


.scrollButton {
    display: block;
    width: 25vw;
    text-align: center;
    font-size: 5vh;
    border: 1px solid white;
    position: absolute;
    left: 37.5vw;
    color: white;
}

.topScreen.readBio {
    top: 80vh;
}

.topScreen.seeProjects {
    top: 87.5vh;
}

.bioScreen.home {
    top: 80vh;
    color: black;
    border-color: black;
}

.bioScreen.seeProjects {
    top: 87.5vh;
    color: black;
    border-color:black;
}

.projectsScreen.home {
    top: 80vh;
}

.projectsScreen.readBio {
    top: 87.5vh;
}

.home:hover {
    background-color: black;
    color: white;
}

.readBio:hover {
    background-color: var(--accent-color1);
    color: black;
}

.seeProjects:hover {
    background-color: var(--accent-color2);
    color: white;
    /* border: 1px solid black; */
}


h2 {
    font-size: 16vh;
    margin-left: 1vw;
}

ul {
    list-style-type: none;
    margin-left: 3vw;
    margin-top: 3vh;
}

a {
    font-size: 5vh;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

.hoverBox {
    width: 35vw;
}

.hoverBox:hover a {
    text-decoration: underline;
}

.projInfo {
    position: absolute;
    height: 50vh;
    width: 30vw;
    top: 25vh;
    right: 35vw;
    border: 1px solid white;
    font-size: 3vh;
    display: none;
    padding: 10px;
}

.projInfo img {
    max-width: 25vw;
    max-height: 25vh;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
}

.hoverBox:hover + div {
    display: block;
}

div:hover {
    display: block;
}
